@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-tap-highlight-color: transparent; 
}

/* Remove Recharts tap/click outlines */
path.recharts-sector:focus,
path.recharts-rectangle:focus,
.recharts-layer:focus,
.recharts-wrapper *:focus,
svg:focus {
  outline: none !important;
}

/* Custom Scrollbar for Fresh Green Theme */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #E8FCCF; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3DA35D; 
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3E8914;
}