# Replace with your Neon Postgres connection string
DATABASE_URL = db_url

# Server port
PORT = 3001

# Gmail config
EMAIL_USER = email123@gmail.com
EMAIL_PASS = 16-digit-password

API_BASE = http://localhost:3001/api

